<!DOCTYPE html>
<html lang="en">

<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />

  <link rel="stylesheet" href="">
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="yellow">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="">
            <a href="/dashboard">
              <i class="fas fa-home fa-5x"></i>
              <p>Acceuil</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="fa fa-align-center"></i>
              <p>Point of sales</p>
            </a>
          </li>
          <li  class="">
            <a href="">
              <i class="fa fa-shopping-cart"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="fas fa-tools"></i>
              <p>Requisition</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="now-ui-icons users_single-02"></i>
              <p>Admin</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="fas fa-user-circle"></i>
              <p>Inventory</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="fas fa-cart-arrow-down"></i>
              <p>Partners</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="fas fa-history"></i>
              <p>Historique</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">LISTE DES TABLE</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                
                <div class="input-group-append">
                  <div class="input-group-text">
                    
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
</nav>
</div>
</div>
</body>

